.jungle_logo{
    width: 72px;
    height: 70px;
    padding: 20px;
}

.nav_right{
    color: rgb(59, 141, 229);
    font-family: poppins;
    display: flex;
    padding-right: 20px;
}

.nav_right ul{
    display: inline-flex;
    list-style: none;
    color: none;
}

.nav_right ul li{
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
    font-weight: 800;
}

.nav_right ul li a{
    text-decoration: none;
    color: rgb(18, 92, 137);
    border-radius: 15px;
    padding: 8px;
}

.nav_right ul li a:hover{
    background: rgb(40, 112, 157);
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;            
}