.moon_logo{
    width: 70px;
    height: 70px;
    padding: 20px;
}

.nav_right{
    color: white;
    font-family: poppins;
    display: flex;
    padding-right: 20px;
}

.nav_right ul{
    display: inline-flex;
    list-style: none;
    color: none;
}

.nav_right ul li{
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
}

.nav_right ul li a{
    text-decoration: none;
    color: white;
    border-radius: 15px;
    padding: 8px;
}

.nav_right ul li a:hover{
    background: white;
    color: rgb(99, 99, 234);
}

.navbar{
    display: flex;
    justify-content: space-between;            
}