@import url(css/navbar.css);

body{
    background-color: white;
    margin: 0px;
    overflow-x: hidden;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(18, 92, 137); 
    margin-top: 100px;
    margin-bottom: 400px;
}   

.time{
    font-family: poppins;
}

.adventure{
    font-size: 90px;
    font-family: 'Paprika', cursive;
    /* transform: translateY(100px); */
}

#btn{
    text-decoration: none;
    display:inline-block;
    background: yellow;
    color:rgb(18, 92, 137);
    font-weight: 1000;
    font-family: poppins;
    letter-spacing: 2px;
    border-radius: 17px; 
    transform: translateY(100px);
    width: 130px;
}

.button a:hover{
    background: rgb(40, 112, 157);
    color: white;
}

.para{
    font-family: poppins;
    position: relative;
    background:rgb(13, 87, 133);
}

.para p{
    margin: 0px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}

.para h2{
    color: white;
    font-size: 40px;
    padding: 30px;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    object-fit: cover;
}

.water{
    height: 60px;
}

.para::before{
    content: '';
    position: absolute;
    bottom: 10;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgb(0, 131, 151),transparent);
    z-index: 10;
}